<h1><%= @name %></h1>
<h2>
<%= @symbol %>: <%= @exchange %> 
</h2>
<div>
  Price: <%= @l%> <br>
  High: <%= @hi %> <br>
  Low: <%= @lo %> <br>
  Volumn: <%= @vo %> <br>
  Change: <%= @c %><br>
  Change Percentage: <%= @cp  %>

</div>

