<!DOCTYPE html>
<html>
  <head>
    <title>Copro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= session[:user_id] %>
    <%= yield %>

<!--     <#% if session[:user_id] %>
logged in as <%#= @user.email%>
<form action="/session" method="post">
  <input type="hidden" value="delete" name="_method"> 
  <button>log out</button>
</form>
  <#% end %> -->
  
  </body>
</html>


